# ====== General Node.js & Python ======
node_modules/
package-lock.json
yarn.lock
.env
logs/
*.log

# ====== React Native (Frontend) ======
# Metro Bundler cache
frontend/.bundle/

# iOS
frontend/ios/Pods/
frontend/ios/build/

# Android
frontend/android/.gradle/
frontend/android/app/build/
frontend/android/.idea/
frontend/android/local.properties

# ====== Backend (Node.js & Python) ======
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/venv/
backend/uploads/
backend/*.pkl

# ====== OS-Specific ======
.DS_Store
Thumbs.db
